<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

	<form action="Add" method="post">
	Enter Roll<br>
	<input type="text" name="txtRoll" placeholder="eg: 101"/>
	<br/><br/>
	Enter Name<br>
	<input type="text" name="txtName" placeholder="eg: 101"/>
	<br/><br/>
	Enter Age<br>
	<input type="text" name="txtAge" placeholder="eg: 101"/>
	<br/><br/>
	Enter Address<br>
	<input type="text" name="txtAddress" placeholder="eg: 101"/>
	<br/><br/>
	<input type="submit" value="add button"/>
	
	
	</form>
</body>
</html>